<a href="https://colab.research.google.com/github/Akshbhalani/ETL-project-in-python/blob/main/ETL_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
# wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip

In [38]:
import pandas as pd
import glob
import xml.etree.ElementTree as ET
from datetime import datetime

In [39]:
log_file = "log_file.txt"
target_file = "transformed_data.csv"

In [40]:
def extract_from_csv(filename):
  dataFrame = pd.read_csv(filename)
  return dataFrame

In [41]:
# print(extract_from_csv('/content/source1.csv'))

In [42]:
def extract_from_json(filename):
  dataFrame = pd.read_json(filename, lines=True)
  return dataFrame

In [43]:
# print(extract_from_json('/content/source1.json'))

In [44]:
def extract_from_xml(filename):
  dataFrame = pd.DataFrame(columns=['name', 'height', 'weight'])
  tree = ET.parse(filename)
  root = tree.getroot()
  for person in root:
    name = person.find('name').text
    height = float(person.find('height').text)
    weight = float(person.find('weight').text)
    dataFrame = pd.concat([dataFrame, pd.DataFrame([{'name':name, 'height':height, 'weight':weight}])], ignore_index=True)

  return dataFrame

In [45]:
def extract():
  extracted_file = pd.DataFrame(columns=['name', 'height', 'weight'])

  # for csv file
  for csvFiles in glob.glob('*.csv'):
    extracted_file = pd.concat([extracted_file, pd.DataFrame(extract_from_csv(csvFiles))], ignore_index=True)

  # for json file
  for jsonFiles in glob.glob('*.json'):
    extracted_file = pd.concat([extracted_file, pd.DataFrame(extract_from_json(jsonFiles))], ignore_index=True)

  # for xml file
  for xmlFiles in glob.glob('*.xml'):
    extracted_file = pd.concat([extracted_file, pd.DataFrame(extract_from_xml(xmlFiles))], ignore_index=True)

  return extracted_file

In [46]:
def transform(data):

  # convert height from inches to meter.     1 inche = 0.0254 meter
  data['height'] = round(data.height * 0.0254, 2)

  # convert weight from pound to kg.         1 pound = 0.45359237 kg
  data['weight'] = round(data.weight * 0.45359237, 2)

  return data

In [47]:
def load(target_file, transformed_data):
  transformed_data.to_csv(target_file)

In [48]:
def logging(message):
  time = datetime.now()
  format = '%Y/%h/%d %H:%M:%S'
  timetemp = time.strftime(format)
  with open(log_file, 'a') as f:
    f.write(message + ' ' + timetemp + '\n')

In [49]:
# extracted_file = extract()
# print(extracted_file)

In [50]:
# transformed_data = (transform(extracted_file))
# print(transformed_data)

In [51]:
print("string.........")

print(logging("ETL extraction start!"))

extracted_file = extract()


print(logging("ETL extraction end!"))

print(logging("ETL transformation start!"))

transformed_data = (transform(extracted_file))
print(transformed_data)

print(logging("ETL transformation end!"))

print(logging("ETL loding start!"))

load(target_file, transformed_data)

print(logging("ETL loding end!"))

string.........
None
None
None
     name  height  weight  Unnamed: 0
0    alex    0.04   23.25         0.0
1    ajay    0.05   28.08         1.0
2   alice    0.04   31.48         2.0
3    ravi    0.04   29.28         3.0
4     joe    0.04   29.69         4.0
..    ...     ...     ...         ...
73   ivan    1.72   51.77         NaN
74  simon    1.72   50.97         NaN
75  jacob    1.70   54.73         NaN
76  cindy    1.69   57.81         NaN
77   ivan    1.72   51.77         NaN

[78 rows x 4 columns]
None
None
None